<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>填写个人信息</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @user_info %> |
    <%= link_to 'Back', user_infos_path %>
  </div>
</div>
