<div class="container">
  <div class="page-header about-me">
    <img src="/assets/MarkZuckerberg.jpg" alt="about-me" class="img-circle">
    <h1 id="timeline">Shin</h1>
    <p><a href="mailto:shin.php@gmail.com">shin.php@gmail.com</a></p>
    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">技能</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>多年互联网产品设计经验</li>
            <li>多年互联网产品销售经验</li>
            <li>3年Marketing经验</li>
            <hr />
            <li>熟悉HTML、CSS</li>
            <li>会一些 Ruby、Ruby on Rails、PHP、Javascript</li>
            <li>略懂SQL</li>
            <hr />
            <li>熟悉举办线下会议</li>
            <li>熟悉一些在线媒体推广投放</li>
            <hr />
            <li>熟悉Fireworks、Illustrator</li>
            <li>熟悉平面设计</li>
            <hr />
            <li>5年＋<a href="http://en.wikipedia.org/wiki/Aikido">Aikido</a></li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">关于Speshub</h4>
        </div>
        <div class="timeline-body">
          <p>虽然从事非编程工作，但自学Web编程好几年。最初有些idea想实现并花钱找人做，但最终失败。
            自我总结“做Web产品不懂开发成功率很低”。Speshub是学习Rails的实践作品，从<a href="www.airbnb.com">Airbnb</a>获得了灵感，
            从学习到实践我学到很多，有时间我会总结分享。
            Speshub目前是重构的第2版本，因该还会重构第3版。第3版在前端设计会有较大的提升。
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">在线作品</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li><a href="#">Speshub</a>第一个作品</li>
            <li><a href="http://www.harmanpro.com.cn" target="_blank">哈慢中国</a>销售与产品</li>
            <li><a href="#" target="_blank">Pushsurvey</a>一款eDM发送工具｜产品与设计</li>
            <li>还有一些不一一列出</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">现在</h4>
        </div>
        <div class="timeline-body">
          <ul>
            <li>2010年至目前在一家电信公司从事Marketing工作...</li>
            <ul>
              <li>Event</li>
              <li>Digital Media</li>
            </ul>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">对开发的一些思考</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">对设计的一些思考</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        </div>
      </div>
    </li>
  </ul>
</div>