<div class="container">
  <div class="page-header about-me">
    <img src="/assets/10.png" alt="about-me" class="img-circle">
    <h1 id="timeline">Shin Zhang</h1>
  </div>
  <div class="about-content">
    <p>此项目是学习Ruby on Rails后的第一个作品，虽然我有一点点的PHP基础但刚开始学习Rails实在是不容易，
    第一个困扰我的问题就是到底是先学Ruby还是直接学Rails。MVC、约定优于配置、Routes，我学Web为什么会用到路由器？再到test、RSpec、部署等等完全不懂。
    但是只要不断坚持总有一天一切都会明白。
    Speshub完成了，虽然代码还不规范、没写一行Test、还有一些bug，没关系还需继续努力。<br>
    还要感谢RubyChina社区让我能遇到很多高手并能交流学习。
    </p>
  </div>
</div>