<div class="container">
  <div class="page-header about-me">
    <img src="/assets/10.png" alt="about-me" class="img-circle">
    <h1 id="timeline">Shin Zhang</h1>
  </div>
  <div class="about-content">
    <p>一直在持续不断的学习Web开发；喜欢在MAC上写Ruby on Rails，在PC上用Fireworks；
      这个Website是自学HTML，CSS，Javascript，Ruby on Rails后第一个练习作品，但明显感觉代码还存在很多漏洞，
      一个人提升技能的速度也非常慢；
      目前工作在一家IDC公司做区域Marketing</p>
  </div>
</div>