<%= render 'layouts/welcome_header' %>

<div class="banner">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/s-banner-4.png" alt="Banner">
        <div class="container">
          <div class="carousel-caption">
            <h1>寻找适合创业者的工作环境</h1>

          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->
</div>

<div class="container">
  <br>
  <p>
    每一种行业都需要不同的工作环境。设计师会有一张很宽敞、简洁的桌子，一盏可以伸缩的台灯和一杯咖啡。程序员的桌上会有2台以上显示器，
    一堆工具书和张舒适的椅子。业务员的桌上会有三、四只电话，股票交易员的桌上可能有八个萤幕，维修师的桌上可能有几百支扳手…
    我们心里都有一个理想的工作环境。
    寻找到整洁、明亮、舒适的工作环境，使认我们产生积极的情绪，全身充满活力，工作效率就会很高。
  </p>
  <p>

  </p>
</div> <!-- /container -->


<%= render 'layouts/footer' %>