<%= render 'layouts/welcome_header' %>

<div class="banner">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/s-banner.png" alt="Banner">
        <div class="container">
          <div class="carousel-caption">
            <h1>寻找适合创业者的工作环境</h1>

          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->
</div>

<div class="container">
  <br>
  <p>
    每一种行业都需要不同的工作环境。设计师会有一张很宽敞、简洁的桌子，一盏可以伸缩的台灯和一杯咖啡。程序员的桌上会有2台以上显示器，
    一堆工具书和张舒适的椅子。业务员的桌上会有三、四只电话，股票交易员的桌上可能有八个萤幕，维修师的桌上可能有几百支扳手…
    我们心里都有一个理想的工作环境。
  </p>
  <hr>
  <h4>创业公司开放式办公环境好，还是有隔间的办公环境好？</h4>
  <p>要看创业公司是做什么的，如果需要很多思想碰撞，需要交流，比较注重创新的，在交流中必然能够获得的更多。但是如果项目方向已经很明确，
    开发量也比较大，独立环境可能更有帮助，但公共交流环境还是必须的。</p>
  <hr>
</div> <!-- /container -->


<%= render 'layouts/footer' %>