<%= render 'layouts/welcome_header' %>

<div class="banner">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/s-banner-8.png" alt="Banner">
        <div class="container">
          <div class="carousel-caption">
            <h1>如何发布办公空间信息</h1>

          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->
</div>

<div class="container">
  <br>
  <p>
  </p>
</div> <!-- /container -->


<%= render 'layouts/footer' %>