<%= render 'layouts/welcome_header' %>

<div class="container">
  <div class="lease-title">
    <h1 class="text-center">发布我的办公信息</h1>
    　<h3>只需几步立刻使你的办公室充满人气</h3>
  </div>

  <div class="row lease-content">
    <div class="col-md-6">
      <ul>
        <li>拍几张漂亮的办公室场景照片；</li>
      </ul>
    </div>
    <div class="col-md-6"><img src="/assets/office-b.png" /></div>
  </div>

  <div class="row lease-content">
    <div class="col-md-6"><img src="/assets/office-c.png"></div>
    <div class="col-md-6">填写办公室相关信息并发布；</div>
  </div>

  <div class="row lease-content">
    <div class="col-md-6">坐等小伙伴入驻你的办公室吧！</div>
    <div class="col-md-6"><img src="/assets/office-a.png"></div>
  </div>


</div> <!-- /container -->


<%= render 'layouts/footer' %>