<div class="container-fluid">
  <div class="row">

    <div class="col-md-9 col-md-offset-1 main main-list search-list tab-content">
      <div class="row placeholders">
        <%= render @search.spaces %>
      </div>
    </div>
  </div>
</div>