<div class="banner">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/home-page-banner-a.png" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>ATG 公司办公空间</h1>
            <p>提供50个工位左右，高效专业的开放办公空间，具有良好的隔音和照明环境，同时具备会议室和非正式的小型会议间。</p>
            <p><%= link_to '查看空间信息', space_path("80"), class: "btn btn-info", role: "button" %></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/assets/home-page-banner-b.png" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>FUWL 工作室</h1>
            <p>办公室共有三层，分别为办公空间（二层），工作室（一层）和工作车间（地下一层），FUWL 的办公空间极简并充满奇趣和惊喜。</p>
            <p><%= link_to '查看空间信息', spaces_path('81'), class: "btn btn-info", role: "button" %></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/assets/home-page-banner-c.png" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Onesize 工作室</h1>
            <p>办公室建立在一个宽敞的厂房内，在空间的中心位置，会议室和视频放映室设置在一组有趣的木制结构中，整个办公空间的配色与用材都非常简约，轻松，而大胆的造型又使得办公环境非常时尚。</p>
            <p><%= link_to '查看空间信息', spaces_path("83"), class: "btn btn-info", role: "button" %></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div><!-- /.carousel -->
</div>