<div id="footer">
  <div class="container">
    <nav>
      <ul>
        <li>© 2014 SpesHub, Inc. </li>
        <li><%= link_to "关于",   about_path %></li>
        <li><%= mail_to "shin.php@gmail.com", "联系" %></li>
      </ul>
    </nav>
  </div>
</div>
