<div id="footer">
  <div class="container">
    <nav>
      <ul>
        <li>© 2014 SpesHub, Inc. </li>
        <li><%= link_to "关于我们",   '#' %></li>
        <li><%= link_to "联系我们", '#' %></li>
        <li><%= link_to "博客", '#' %></li>
      </ul>
    </nav>
  </div>
</div>
